{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <script src="https://js.stripe.com/v3/"></script>
   </head>
   <!-- body -->
   <body>
      <!-- products -->
      <div  class="products">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     {% if carts %}
                        <h2>My Cart</h2>
                     {% else %}
                        <h2>No Product In Cart</h2>
                     {% endif %}
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="our_products">
                     <div class="row">

                        {% for i in carts %}
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="{{i.product.product_image.url}}" alt="#" style="width: 300px;height: 300px;" /></figure>
                              <h4>Product Price : {{i.product_price}}</h4>
                              <h4>Product Qty : </h4>
                              <form method="post" action="{% url 'change-qty' %}">
                                 {% csrf_token %}
                                 <input type="hidden" name="cid" value="{{i.pk}}">
                                 <input type="number" name="product_qty" value="{{i.product_qty}}" min="1" max="10" onchange="this.form.submit();">
                              </form>
                              <h4>Total Price : {{i.total_price}}</h4>
                              
                              
                              <a href="{% url 'product-details' pk=i.product.pk %}"><input type="button" value="Details" class="btn btn-primary"></a>
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
               </div>
            </div>
                  <form method="post">
                     <input type="hidden" id="net_price" name="amount" value="{{net_price}}">
                     <button type="button" class="btn btn-lg btn-primary" id="checkout-button">Checkout</button>
                  </form>
         </div>
      </div>
      <!-- end products -->

      <script type="text/javascript">
 // Create an instance of the Stripe object with your publishable API key
 var stripe = Stripe('pk_test_51MshH6SJuXwPfjjrrgxJ5tubbOgYAhRrqNcd4RDUSq1peWpIMZrjhIiTncSUWO9u6byeDf4KxdZPkFD4hU55mVOg00aRL5RT8x');
 var checkoutButton = document.getElementById('checkout-button');

 checkoutButton.addEventListener('click', function() {
   alert("Hello");
 // Create a new Checkout Session using the server-side endpoint you
 // created in step 3.
 
 fetch('/create-checkout-session/', {
 method: 'POST',
   headers:{
        'Accept': 'application/json',
        'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()

   },
    body: JSON.stringify({'post_data':'{{net_price}}'})
 })
 .then(function(response) {
 return response.json();
 })
 .then(function(session) {
 return stripe.redirectToCheckout({ sessionId: session.id });
 })
 .then(function(result) {
 // If `redirectToCheckout` fails due to a browser or network
 // error, you should display the localized error message to your
 // customer using `error.message`.
 if (result.error) {
 alert(result.error.message);
 }
 })
 .catch(function(error) {
 console.error('Error:', error);
 });
 });
 </script>
   </body>
</html>
{% endblock %}